@import "tailwindcss";

@theme {
  --color-accent: #FF4D00;
  --color-dark: #000000;
  --font-mono: var(--font-ibm-plex-mono);
}

body {
  background-color: var(--color-dark);
  color: var(--color-accent);
  font-family: var(--font-mono);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

::selection {
    background: var(--color-accent);
    color: var(--color-dark);
}

.monospaced-metadata {
    font-family: var(--font-mono);
    font-size: 10px;
    letter-spacing: 0.1em;
}

.stroke-text {
    -webkit-text-stroke: 1px var(--color-accent);
    color: transparent;
}
